# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
.env

# Build & dist
build/
dist/
*.egg-info/

# Testing & Coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.coverage.*

# Linting & Formatting
.ruff_cache/

# Data & artifacts
data/
*.parquet
*.csv

# Jupyter
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# Virtual environments
.venv
